<div class="container-fluid d-flex flex-column w-100 h-100 m-2">
  <div class="d-flex flex-column h-10 w-100 justify-content-between m-1 mb-4 sticky-top top-bar">
    <div class="row d-flex flex-row mb-4">
      <div class="back-btn">
          <input type="image" src="../assets/back.png" (click)="cdup()" class="w-100 h-100 p-0" >
      </div>
      <div class="path">
        <p class="text-center" id="path-text">{{currentPath}}</p>
      </div>
      <div class="app-menu">
          <input type="image" src="../assets/menu.png" (click)="onSettingsButton()" class="dropdown-item w-100 h-100 p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </div>
    </div>
    <div class="row action-bar">
      <div class="d-flex flex-row" id="search-bar">
        <input type="text" placeholder="Search..." class="w-75 h-100 p-2" name="filter" [(ngModel)]="filter" (input)="displayFiles()">
        <div class="w-25 h-100 d-flex justify-content-center">
          <select (change)="sortFiles()" [(ngModel)]="sortingMethod" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="name-asc">Name Ascending</option>
            <option value="name-desc">Name Descending</option>
            <option value="time-newest">Newest By Time</option>
            <option value="time-oldest">Oldest By Time</option>
          </select>
        </div>
      </div>
      <div class="dropdown action-dropdown">
        <img class="dropdown-toggle btn" src="../assets/plus.png" data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu">
          <li>
            <button (click)="onFilesAdd()" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add files
            </button>
          </li>
          <li>
            <button (click)="onDirectoryCreate()" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Create directory
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column h-90 w-100 files-view">
    <div class="row justify-content-around" id="files-card-view">
        <app-file (cdEvent)="cd($event)" class="card card-file d-flex flex-column align-items-center mb-4"
          *ngFor="let file of displayedFiles" (removeEvent)="remove($event)"
          (downloadInlineEvent)="downloadInline($event)" (downloadAttachmentEvent)="downloadAttachment($event)" [details]="file"
          (downloadDirectoryEvent)="downloadDirectory($event)" (renameFileEvent)="onRenameButton($event)" (moveFileEvent)="onRenameButton($event)">
          
        </app-file>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" ></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div [ngSwitch]="selectedModal">
          <div *ngSwitchCase="ModalTypes.AddFiles">
            <h3>Select files to upload</h3>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <div *ngFor="let fileItem of uploader.queue">
              <div>{{ fileItem.file.name }}&nbsp;{{ displayFileSize(fileItem) }}</div>
            </div>
            <div>Total size: &nbsp; {{ this.formatFileSize(getTotalFileSize())}}</div>
          </div>
          <div *ngSwitchCase="ModalTypes.Rename">
            <label for="newname">New name</label>
            <input [(ngModel)]="newFileName" id="newname" name="newname" type="text" placeholder="Directory Name"/><br/>
            <button class="btn" (click)="renameFile()">Rename</button> 
          </div>
          <div *ngSwitchCase="ModalTypes.Move">
            <label for="newname">New path</label>
            <input [(ngModel)]="newFileName" id="newname" name="newname" type="text" placeholder="Directory Name"/><br/>
            <button class="btn" (click)="renameFile()">Move</button> 
          </div>
          <div *ngSwitchCase="ModalTypes.CreateDir">
            <input type="text" [(ngModel)]="directoryNameToCreate" placeholder="Directory Name"/><br/>
            <button class="btn" (click)="createDir()">Create</button> 
          </div>
          <div *ngSwitchCase="ModalTypes.Settings">
            <p>Username:</p> <p>{{userDetails.Username}}</p>
            <p>Memory used:</p> <p> {{this.formatFileSize(userDetails.Used)}}</p>
            <p>Max memory:</p> <p> {{this.formatFileSize(userDetails.Max)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>