
<div [ngSwitch]="true">
  <div *ngSwitchCase="details.IsDir">
    <input type="image" src="../../../assets/directory.png" class="card-img-top" alt="diretory" (click)="cd(details.Name)">
  </div>
  <img *ngSwitchCase="details.Type.includes('zip') || details.Type.includes('compressed')" src="../../../assets/zip.png" class="card-img-top" alt="file">
  <img *ngSwitchCase="details.Type.includes('pdf')" src="../../../assets/pdf.png" class="card-img-top" alt="file">
  <img *ngSwitchCase="details.Type.includes('html')" src="../../../assets/html.png" class="card-img-top" alt="file">
  <img *ngSwitchCase="details.Type.includes('xml')" src="../../../assets/xml.png" class="card-img-top" alt="file">
  <img *ngSwitchCase="details.Type.includes('image') && details.ImageData !== null" src="data:image/jpeg;base64,{{details.ImageData}}" class="card-img-top" alt="file">
  <img *ngSwitchCase="details.Type.includes('image') && details.ImageData === null" src="../../../assets/image.png" class="card-img-top" alt="file">
  <img *ngSwitchDefault src="../../../assets/file.png" class="card-img-top" alt="file">

</div>
<div class="card-body d-flex flex-row justify-content-center align-items-center w-100 text-center">
    <div class="w-75 overflow-hidden">
      <h5 class="card-title">{{details.Name}}</h5>
    </div>
    <div class="dropdown menu-dropdown w-25">
      <img class="dropdown-toggle btn" src="../../../assets/menu.png" data-bs-toggle="dropdown" aria-expanded="false">
      <ul class="dropdown-menu">
        <li>
            <input type="submit" value="Delete" class="dropdown-item" (click)="remove(details.Name)">
        </li>
        <li>
            <input type="submit" value="Download" class="dropdown-item" (click)="download(details.Name)">
        </li>
        <li>
          <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Rename
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Move to
          </button>
        </li>
      </ul>
    </div>
  </div>