<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" ></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div [ngSwitch]="selectedModal">
            <div *ngSwitchCase="ModalTypes.AddFiles">
              <h3>Select files to upload</h3>
              <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploadFiles()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <div *ngFor="let fileItem of uploader.queue">
                <div>{{ fileItem.file.name }}&nbsp;{{ displayFileSize(fileItem) }}</div>
              </div>
              <div>Total size: &nbsp; {{ this.formatFileSize(getTotalFileSize())}}</div>
            </div>
            <div *ngSwitchCase="ModalTypes.Rename">
              <label for="newname">New name</label>
              <input [(ngModel)]="newFileName" id="newname" name="newname" type="text" placeholder="Directory Name"/><br/>
              <button class="btn" (click)="renameFile()">Rename</button> 
            </div>
            <div *ngSwitchCase="ModalTypes.Move">
              <label for="newname">New path</label>
              <input [(ngModel)]="newFileName" id="newname" name="newname" type="text" placeholder="Directory Name"/><br/>
              <button class="btn" (click)="moveFile()">Move</button> 
            </div>
            <div *ngSwitchCase="ModalTypes.CreateDir">
              <input type="text" [(ngModel)]="directoryNameToCreate" placeholder="Directory Name"/><br/>
              <button class="btn" (click)="createDir()">Create</button> 
            </div>
            <div *ngSwitchCase="ModalTypes.Settings">
              <p>Username: {{userDetails.Username}}</p>
              <p>Memory used: {{this.formatFileSize(userDetails.Used)}}</p>
              <p>Max memory: {{this.formatFileSize(userDetails.Max)}}</p>
              <p>Remaining Memory: {{this.formatFileSize(userDetails.Max-userDetails.Used)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>